.container{
    padding-top: 5rem;
}

.glass-container{
    background: rgba(99, 145, 164, 0.308);
    backdrop-filter: blur(700px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(3, 205, 255, 0.434);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 3rem;
    transition: transform 0.3s ease;
}
.glass-container:hover{
    transform: scale(1.01);
}

.helpdesk-bg{
    background: #fff;
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 60px 20px;
}

label{
    color: #363636;
}